<p id="notice"></p><!--何これ-->
<h1>Books</h1>

<table>
  <thead><!--表のヘッダー-->
    <tr><!--行-->
      <th>Title</th><!--表の見出し-->
      <th>Body</th>
      <th colspan="3"></th><!--この見出しの下にセルが３行分あるから３行結合する-->
    </tr><!--tr１つだからヘッダーは１行となる-->
  </thead>

  <tbody><!--表の本体-->
    <tr><!--1行目-->
      <td>リーダブルコード</td><!--表セルの内容-->
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>ここにshowへのリンク入る</td>
      <td>ここにeditへのリンク入る</td>
      <td>ここにdestroyのリンク入る</td>
    </tr><!--残り７行はリンクできるようになったら作成-->
  </tbody>
</table>

<h2>Ｎew book</h2>
ここに投稿フォーム