<p>Book was successfully created.</p>

<strong>Title:<%= @book.title %></strong><!--@bookはshowｱｸｼｮﾝで取得したidﾃﾞｰﾀ-->
<strong>Body:<%= @book.body %></strong>

<%= link_to "Edit", edit_book_path(book.id) %>